<!DOCTYPE html>
<html>
<head>
	<title>Orientador Vocacional</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index1.css')}}">
</head>
<body>
	<div class="titulo">
		<h1>Orientador vocacional</h1>
	</div>

	<div class="contenedor-preguntas">
		<div class="pregunta">
			<h1 id="pregunta">ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud</h1>
		</div>
		<div class="respuestas">
			<button id="respuesta1"></button>
			<button id="respuesta2"></button>

			<button id="respuesta3"></button>
			<button id="respuesta4"></button>
		</div>
	</div>

	<div class="bg-modal">
		<div class="modal-content">
			<p class="titulo-modal">Abogado!!</p>
			<button id="otra">Buscar otra opcion</button>
			<button id="refresh">Repetir</button>
		</div>
	</div>
</body>
<script type="text/javascript">

	// function preguntar(cadena){
	// 	let result;
	// 	fetch('http://127.0.0.1:5000/api', method: 'post', body:JSON.stringify(cadena))
	// 		.then(function(response){
	// 			return response.json();
	// 		})
	// 		.then(function(data){
	// 			result = data
	// 		});
	// 	return result;
	// }

	let responseJson = {
		linguistico:0,
		mate:0,
		espacio:0,
		interpersonal:0,
		creativa:0
	}
	let aptitudes = {
		linguistico_verbal: 0,
		mate: 0,
		espacio_visual:0,
		interpersonal:0,
		creativa:0
	}

	let indicePregunta = 0;
	let indexCarrera = 0;
	let listaCarr = [];

	let preguntas = [
	["¿Qué tanto te gusta resolver problemas matematicos?",["mate"]],
	["¿Te gusta Leer y ser autodidacta?",["linguistico_verbal"]],
	["¿Eres bueno para trabajar bajo presion?",["creativa"]],
	["¿Tienes habilidades o gusto por el diseño?",["creativa","espacio"]],
	["¿Te consideras una persona imaginativa?",["creativa","espacio"]],
	["¿Eres bueno redactando documentos?",["linguistico_verbal"]],
	["¿Tienes facilidad para hablar y dar a enterder tus ideas?",["linguistico_verbal"]],
	["¿Tienes habilidades para pensar abstractamente?",["mate"]],
	["¿Qué tanto te gusta la física?",["mate"]],
	["¿Eres bueno para resolver problemas de logica?",["mate"]],
	["¿Te gusta resolver problemas de cualquier tipo?",["mate"]],
	["¿Te gusta trabajar en lugares abiertos?",["espacio"]],
	["¿Eres bueno para observar cosas que nadie mas ve?",["espacio"]],
	["¿Tienes facilidad para adaptarte a diferentes ambientes?",["interpersonal"]],
	["¿Tienes gusto por ayudar a los demas?",["interpersonal"]],
	["¿Tienes cualidades de un lider?",["interpersonal"]],
	["¿Eres bueno para trabar en equipo?",["interpersonal"]],
	["¿Tienes un gran gusto por la innovacion?",["creativa"]],
	["¿Tienes gusto por la oratoria?",["linguistico_verbal"]],
	["¿Tienes gusto por aprender idiomas?",["linguistico_verbal"]],
	["¿Bueno para acomodar cosas en un espacio definido?",["espacio"]],
	["¿Eres bueno relacionandote con otras personas?",["interpersonal"]],
	];
	let tipoPregunta = [
		'mate',
	];
	let respuestas = [
	{
		respuesta1:"Me encanta",
		respuesta2:"Algo",
		respuesta3:"No mucho",
		respuesta4:"Nada"
	}
	];


//**********************************//
//***********Funciones *************//
//**********************************//

	window.onload = function() {
		cambiarPregunta();
		cambiarRespuestas();
	};

	function cambiarPregunta(){
		document.getElementById("pregunta").innerHTML = preguntas[indicePregunta][0];
	}
	function cambiarRespuestas(){
		document.getElementById("respuesta1").innerHTML = respuestas[indicePregunta].respuesta1
		document.getElementById("respuesta2").innerHTML = respuestas[indicePregunta].respuesta2
		document.getElementById("respuesta3").innerHTML = respuestas[indicePregunta].respuesta3
		document.getElementById("respuesta4").innerHTML = respuestas[indicePregunta].respuesta4
	}

	document.getElementById("otra").onclick = function(){
		indexCarrera++;

		if(indexCarrera < listaCarr.length){
			document.querySelector(".titulo-modal").innerHTML = listaCarr[indexCarrera];
		}
	}
	document.getElementById("refresh").onclick = function(){
		// document.querySelector(".bg-modal").style.display = 'none';
		location.reload();
	}
	document.getElementById("respuesta1").onclick = function(){
		botonPrecionado(10)
	}
	document.getElementById("respuesta2").onclick = function(){
		botonPrecionado(6.6)
	}
	document.getElementById("respuesta3").onclick = function(){
		botonPrecionado(3.3)
	}
	document.getElementById("respuesta4").onclick = function(){
		botonPrecionado(0)
	}

	// ling: 30   -   22.5		-		21					50
	// mate: 50	-		37.5		-		35						50
	// espaci 40															50
	// interpersonal 40	-	30	-28							50
	// cretividad 40		- 30		-28

	function analizarAptitudes(){
		if(aptitudes.linguistico_verbal > 35){
			responseJson.linguistico = 1;
		}
		if(aptitudes.mate > 35){
			responseJson.mate = 1;
		}
		if(aptitudes.espacio_visual > 35){
			responseJson.espacio = 1;
		}
		if(aptitudes.interpersonal > 35){
			responseJson.interpersonal = 1;
		}
		if(aptitudes.creativa > 28){
			responseJson.creativa = 1;
		}
	}

	function getCarrera(){
		console.log(responseJson);
		return fetch('http://127.0.0.1:5000/api', {
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				},
				method: 'POST',
				body: JSON.stringify(responseJson)
	 		}).then(function(response){
				return response.json().then(function(data){
					return data;
					console.log(data);
				});
			});

			//.then(function(response) {
				// 	return response.json();
				// }).then(function(data) {
				// 	console.log(data)
				// });
	}

	function addPeso(peso){
		preguntas[indicePregunta][1].forEach(function(tipo){
			switch (tipo) {
				case 'linguistico_verbal':
					aptitudes.linguistico_verbal += peso;
					break;
				case 'mate':
					aptitudes.mate += peso;
					break;
				case 'espacio':
					aptitudes.espacio_visual += peso;
					break;
				case 'interpersonal':
					aptitudes.interpersonal += peso;
					break;
				case 'creativa':
					aptitudes.creativa += peso;
					break;
				default:
			}
		});
	}
function showCarreras(carreras){
	listaCarr = carreras;
		// Object.keys(carreras).forEach(function (item) {
		// 	if(carreras[item] > 0){
		// 		listaCarr.push(item)
		// 	}
		// });
		if (listaCarr.length === 0){
			document.querySelector(".bg-modal").style.display = 'flex';
			document.querySelector(".titulo-modal").innerHTML = "Intenta otra vez :("
		}
		else {
			document.querySelector(".bg-modal").style.display = 'flex';
			document.querySelector(".titulo-modal").innerHTML = listaCarr[indexCarrera];
		}
	}
	//cada vez que se presiona un boton se guarda su peso y se cambia a la
	//siguiente pregunta
async	function botonPrecionado(peso) {
		switch (peso) {
			case 10:
				addPeso(peso);
				break;
			case 6.6:
				addPeso(peso);
				break;
			case 3.3:
				addPeso(peso);
				break;
			case 0:
				addPeso(peso);
				break;
			default:
		}
		indicePregunta++;
		if(indicePregunta < preguntas.length){
			cambiarPregunta();
		}
		else {
			analizarAptitudes();
			let json = await getCarrera();
			console.log(json.message);

			showCarreras(json.message);
			console.log(aptitudes);
			indicePregunta = 0;
		}
	}


</script>
</html>
